In [2]:
import pandas as pd

# Pivot and Melt: Converting between Long and Wide Format

## Understanding the Formats

- **Wide Format**: Each variable is a column (more readable, compact)
- **Long Format**: Each observation is a row, with identifiers and values (better for analysis)

In [3]:
# Example 1: Student Exam Scores (Simple and Intuitive)
# Wide format - easy to read, one row per student
print("=" * 50)
print("EXAMPLE 1: Student Exam Scores (WIDE FORMAT)")
print("=" * 50)

wide_scores = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Math': [85, 92, 78, 88],
    'English': [90, 88, 95, 80],
    'Science': [88, 85, 82, 92]
})

print("\nWide Format (one row per student):")
print(wide_scores)

==================================================
EXAMPLE 1: Student Exam Scores (WIDE FORMAT)
==================================================

Wide Format (one row per student):
   Student  Math  English  Science
0    Alice    85       90       88
1      Bob    92       88       85
2  Charlie    78       95       82
3    Diana    88       80       92

In [4]:
# Convert to long format using MELT
print("\n" + "=" * 50)
print("MELT: Converting from WIDE to LONG format")
print("=" * 50)

long_scores = wide_scores.melt(
    id_vars=['Student'],           # Keep Student as identifier
    var_name='Subject',            # Name of the new column with subject names
    value_name='Score'             # Name of the new column with scores
)

print("\nLong Format (one row per student-subject combination):")
print(long_scores)
print(f"\nShape comparison: Wide {wide_scores.shape} → Long {long_scores.shape}")

==================================================
MELT: Converting from WIDE to LONG format
==================================================

Long Format (one row per student-subject combination):
    Student  Subject  Score
0     Alice     Math     85
1       Bob     Math     92
2   Charlie     Math     78
3     Diana     Math     88
4     Alice  English     90
5       Bob  English     88
6   Charlie  English     95
7     Diana  English     80
8     Alice  Science     88
9       Bob  Science     85
10  Charlie  Science     82
11    Diana  Science     92

Shape comparison: Wide (4, 4) → Long (12, 3)

In [5]:
# Convert back using PIVOT
print("\n" + "=" * 50)
print("PIVOT: Converting from LONG back to WIDE format")
print("=" * 50)

pivoted_scores = long_scores.pivot(
    index='Student',       # Rows
    columns='Subject',     # Columns
    values='Score'         # Values to fill
)

print("\nPivoted Back to Wide Format:")
print(pivoted_scores)
print("\nNotice: We're back to the original structure!")

==================================================
PIVOT: Converting from LONG back to WIDE format
==================================================

Pivoted Back to Wide Format:
Subject  English  Math  Science
Student
Alice         90    85       88
Bob           88    92       85
Charlie       95    78       82
Diana         80    88       92

Notice: We're back to the original structure!

---
## Example 2: Sales Data by Region and Month

In [6]:
print("\n" + "=" * 50)
print("EXAMPLE 2: Monthly Sales by Region")
print("=" * 50)

# Wide format - easier to compare months visually
sales_wide = pd.DataFrame({
    'Region': ['North', 'South', 'East', 'West'],
    'January': [15000, 12000, 18000, 14000],
    'February': [16000, 13000, 17500, 15000],
    'March': [18000, 14000, 19000, 16500]
})

print("\nWide Format (easy to compare sales across months for each region):")
print(sales_wide)

# Convert to long format
sales_long = sales_wide.melt(
    id_vars=['Region'],
    var_name='Month',
    value_name='Sales'
)

print("\n\nLong Format (better for analysis and plotting):")
print(sales_long)

==================================================
EXAMPLE 2: Monthly Sales by Region
==================================================

Wide Format (easy to compare sales across months for each region):
  Region  January  February  March
0  North    15000     16000  18000
1  South    12000     13000  14000
2   East    18000     17500  19000
3   West    14000     15000  16500


Long Format (better for analysis and plotting):
   Region     Month  Sales
0   North   January  15000
1   South   January  12000
2    East   January  18000
3    West   January  14000
4   North  February  16000
5   South  February  13000
6    East  February  17500
7    West  February  15000
8   North     March  18000
9   South     March  14000
10   East     March  19000
11   West     March  16500

In [7]:
# Why long format is useful: Easy aggregation
print("\n\nWhy LONG format is better for analysis:")
print(f"Average sales per region: \n{sales_long.groupby('Region')['Sales'].mean()}")
print(f"\nAverage sales per month: \n{sales_long.groupby('Month')['Sales'].mean()}")

Why LONG format is better for analysis:
Average sales per region:
Region
East     18166.666667
North    16333.333333
South    13000.000000
West     15166.666667
Name: Sales, dtype: float64

Average sales per month:
Month
February    15375.0
January     14750.0
March       16875.0
Name: Sales, dtype: float64

---
## Example 3: Product Ratings by Customer

In [8]:
print("\n" + "=" * 50)
print("EXAMPLE 3: Customer Product Ratings")
print("=" * 50)

# Create rating data in wide format
ratings_wide = pd.DataFrame({
    'Customer': ['John', 'Sarah', 'Mike'],
    'Product_A': [5, 4, 5],
    'Product_B': [3, 5, 4],
    'Product_C': [4, 4, 3]
})

print("\nWide Format:")
print(ratings_wide)

# Melt to long format
ratings_long = ratings_wide.melt(
    id_vars=['Customer'],
    var_name='Product',
    value_name='Rating'
)

print("\nLong Format:")
print(ratings_long)

# Calculate product averages (easy with long format)
print("\nAverage Rating per Product:")
print(ratings_long.groupby('Product')['Rating'].mean())

==================================================
EXAMPLE 3: Customer Product Ratings
==================================================

Wide Format:
  Customer  Product_A  Product_B  Product_C
0     John          5          3          4
1    Sarah          4          5          4
2     Mike          5          4          3

Long Format:
  Customer    Product  Rating
0     John  Product_A       5
1    Sarah  Product_A       4
2     Mike  Product_A       5
3     John  Product_B       3
4    Sarah  Product_B       5
5     Mike  Product_B       4
6     John  Product_C       4
7    Sarah  Product_C       4
8     Mike  Product_C       3

Average Rating per Product:
Product
Product_A    4.666667
Product_B    4.000000
Product_C    3.666667
Name: Rating, dtype: float64

---
## Key Takeaways

| Operation | Direction | Use Case |
|-----------|-----------|----------|
| **MELT** | Wide → Long | Preparing data for analysis, plotting |
| **PIVOT** | Long → Wide | Summarizing data for viewing |

**When to use each:**
- **Wide Format**: Great for reports, visual comparison, human-readable summaries
- **Long Format**: Better for statistical analysis, grouping, filtering, plotting, and machine learning models